*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul{
@media screen and (min-width:700px){
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    background-color: #986378;
    color: white;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    line-height:40px;
    height:40px ;
}
@media screen and (max-width:700px){
    display: flex;
    line-height: 50px;
    background-color: #986378;
    color: white;

}

}

img, p{
    margin-right: auto;
    margin-left: 10px;
}

#menuIcon{
    @media screen and (min-width:700px){
        display: none;
    }
}

.churchName {
    
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width:700px) {
        /* margin-right:140px ; */
        margin-left:0 ;
    }
}

a{
    text-decoration: none;
    color: white;
}

li a:hover {
        color: black;
}

li{
    @media screen and (max-width:700px) {
        display: none;
    }
}
 
#last {
    margin-right: 20px;
}  

.nav2 ul{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: flex-start;
    z-index: 999;
    margin-left: 200px ;
    
    @media screen and (max-width:700px){
        p,img{
            display: none;
        }
        li{
            display: flex;
            margin-left: 10px;
        }
        a:hover{
            background-color: white;
            padding:5px;
            
        }
    }
    @media screen and (min-width:700px){
        display: none;
    }
}

/* style for the body texts starts here */


.backgroundTexts p{
    width: 100%;
    
}

.backgroundTexts{
    @media screen and (min-width:700px){
    position: absolute;
    margin-top: -450px;
    color: white;
    margin-left: 350px;
    font-weight: bold;
}
    @media screen and (max-width:700px){
        margin-left: 0;
        padding: 10px;
        margin-top: -350px;
        margin-right: 10px;
        color: white;
    }

    @media screen and (max-width:1028px) and (min-width:850px){
        margin-left:100px ;
    }

    @media screen and (max-width:850px) and (min-width: 701px){
        margin-right: 100px;
        margin-left: 100px;
        margin-top: -700px;
    }
}

#desktopP{
    @media screen and (max-width:700px){
        margin-left: 0;
        display: none;
    }
}

.mobileP{
    display: none;
    @media screen and (max-width:700px){
        
        display: block;
        margin-top: 10px;
    }
}

.img2{
    
    margin-left: 0;
    height: 100vh;
    @media screen and (max-width: 700px){
        height: 400px;
        width: 100%;
    }
}

.backgroundTexts a p {
    margin-left: 260px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 10px;
    width: 80px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    &:hover{
        background-color: #986378;
    }

    @media screen and (max-width: 700px){
        margin-left: 270px;
        /* margin-top: 10px; */
    }
    
    @media screen and (max-width:850px){
        margin-left: 250px;
    }

    @media screen and (max-width: 450px){
        margin-left: 130px;
    }
}

.days{
    @media screen and (min-width:700px){
    position: absolute;
    display: flex;
    width: 80%;
    margin-top: -25px;
    margin-left: 10%;
    line-height: 40px;
    }
    @media screen and (max-width:700px){
        display: flex;
        margin-top:30px;
        line-height: 40px;
        width: 100%;
    }
}

.days p{

    @media screen and (min-width:700px){
    width:25%;
    margin-left: 0;
    padding-left: 100px;
    font-weight: bold;
    }
    
    @media screen and (max-width:700px){
        width: 25%;
        font-weight: bold;
        padding-left: 20px;;
        margin-left: 0;
    }

    /* @media screen and (max-width:850px) and (min-width: 701px){
        padding-left: 50px;
    } */
}

#Tuesdays{
    background-color: black;
    color:white;
}

#Thursdays{
    background-color: #491b54;
    color:white;
}

#fridays{
    background-color: white ;
    color:#491b54;
}

#Sundays{
    background-color: #c6366e ;
    color:white;
}

.welcome{
    @media screen and (min-width:700px){
        display: flex;
        background-color: #986378;
        color: white;
        height: 390px;
        margin-top: -5px;
        padding-left: 15px;
    }
    

    @media screen and (max-width:700px){
        display: block;
        height: 730px; 
        background-color: #986378;
        color: white;
        padding: 0 20px;
    }
}

#welcomeTexts{
    margin-top: 50px;
    width: 60%;

    @media screen and (max-width:700px){
        margin-top: 0;
        width: 100%;
        
    }
}

#welcomeTexts h1{
    @media screen and (max-width:700px){
        padding-top: 30px;
    }
}

#prayingMan{
    width: 40%;
    margin-left: 15%;
    @media screen and (max-width:700px){
        margin-left: 110px;
    }
}

#black{
    margin-left: -50px;
    margin-top: 100px;
}

#man{
    position: absolute;
    margin-top: 20px;
    margin-left: -50px;
}

#learnmore:hover {
    background-color: white;
    color: black;
}

.testimonies{
    background-image: url(/images/crossBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    
    @media screen and (max-width: 700px){
        height: 600px;
    }
}

.testimonies h3{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    padding-bottom: 20px;
    
    @media screen and (max-width:700px){
        margin-left: 15px ;
        margin-right:15px;
        margin-bottom: 15px;
    }
}

#testimonyimage{
    margin-left: 40%;
    @media screen and (max-width: 700px){
        margin-left: 37px;
    }

    @media screen and (max-width:850px) and (min-width: 701px){
        margin-left: 35%;
    }
}
.testimonies h1{
    padding-top: 40px;
}

#seemore{
    border: 3px solid #491b54;
    border-radius: 10px;
    color: #491b54;
    width: 120px; 
    padding-left: 10px;
    padding-bottom: 3px;
    margin-left: 46%;
    margin-top: 15px;

    &:hover{
        background-color:#986378 ;
        color: white;
    }

    @media screen and (max-width:700px){
        margin-left: 35%;
    }
}

.formContainer{
    width: 80%;
    margin-left: 10%;
}

input{
    width: 100%;
    height: 40px;
}

.formParentContainer{
    background-image: url(/images/metal-grill-closeup-texture-music-speaker-colored-lighting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* style for the footer texts starts here */


.bottom{
    background-color: #986378;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    color: white;

    @media screen and (max-width:700px){
        display: block;
    }
}

#bottomlovers{
    margin-right: 190px;
    margin-left: 20px;
    padding-top: 10px;
    @media screen and (max-width:700px){
        margin-right:0 ;
        margin-left: 18px;
    }

    @media screen and (max-width: 850px) and (min-width:701px){
        margin-right: 10px;
        margin-left: 15px;
    }

    @media screen and (max-width: 1280px) and (min-width:851px){
        margin-right: 160px;
    }
}

.left{
    width: 50%;
    
    @media screen and (max-width: 700px){
        width: 100%;
    }
}

#divIcons{
    margin-left: 40px;
}
.right{
    width: 50%;

    @media screen and (max-width: 700px){
        width: 100%;
    }
}

#email{
    margin-right: 470px;
}

#phone{
    margin-right: 470px;

    @media screen and (max-width:700px){
        margin-right: 100px;
    }

    @media screen and (max-width:850px) and (min-width:701px){
        margin-right: 145px;
    }
}

#church2{
    margin-right: 400px;

    @media screen and (max-width:700px){
        margin-right: 25px;
    }

    @media screen and (max-width:850px) and (min-width:701px){
        margin-right: 75px;
    }
}